.about {
  background-image: url("../../img/about-bg-1600.avif"),
    url("../../img/about-bg-1600.webp"), url("../../img/about-bg-1600.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

.about__wrapper {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
