.augmentedBenefits__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  align-items: baseline;
}

@media screen and (max-width: 550px) {
  .augmentedBenefits__wrapper {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
