.differences {
  background-image: url("../../img/differences-bg-1600.avif"),
    url("../../img/differences-bg-1600.webp"),
    url("../../img/differences-bg-1600.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.differences__bottom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.differences__bottom-card {
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 25px;
  box-shadow: none;
}

.differences__bottom-card,
.differences__bottom-card img,
.differences__bottom-card:hover img {
  transition: all 0.5s ease-in-out;
}

@media screen and (max-width: 550px) {
  .differences__bottom {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.thick-3 {
  background: linear-gradient(#fff 0 0) 0% calc(-3px - 100%) / var(--d, 0%) 200%
    no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
}

@media (any-hover: hover) {
  .differences__bottom-card:hover {
    box-shadow: -2px 2px 10px 6px rgb(255 255 255 / 20%);
  }

  .differences__bottom-card:hover img {
    transform: scale(1.2);
  }

  .thick-3:hover {
    --d: 100%;

    color: #000 !important;
    text-shadow: none;
    background-position: 50% 0%;
    transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
  }
}
