.differences {
  background-image: url("../../img/differences-bg-1600.avif"),
    url("../../img/differences-bg-1600.webp"),
    url("../../img/differences-bg-1600.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.differences__bottom {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.differences__bottom-card {
  border: 1px solid rgb(255 255 255 / 20%);
  border-radius: 3px;
}

@media screen and (max-width: 550px) {
  .differences__bottom {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
