.virtual-reality {
  position: relative;
  z-index: 1;
  background-image: url("../img/vr-bg-1600.avif"), url("../img/vr-bg-1600.webp"),
    url("../img/vr-bg-1600.jpg");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
}

.virtual-reality::before {
  position: absolute;
  z-index: -1;
  background-color: rgba($color: #000, $alpha: 30%);
  content: "";
  inset: 0;
}

@media screen and (max-width: 500px) {
  .virtual-reality {
    background-position: 85%;
  }
}
