<section
  class="about background-attachment-fixed min-vh-100 text-white d-flex flex-column justify-content-center align-content-center text-shadow-black text-center text-xl-start py-3 py-md-4 py-lg-5"
>
  <div class="container">
    <h2>
      Мы становимся другом<br />
      для нашего клиента
    </h2>
    <p class="h3 fw-light my-2 my-md-3 my-lg-5">
      Чтобы изучить и понять внутренней мир заказчика,<br />
      а затем выразить его в интерьере.<br />
      Дизайн проект — это подлинный шедевр, <br />
      который рождается в единстве души и разума.
    </p>
    <div class="about__wrapper text-center">
        <p class="about__wrapper-number h3">c 2015
          <span class="about__wrapper-text lead d-block">года на рынке<span/>
            </span>
          </p>
        <p class="about__wrapper-number h3">200
          <span class="about__wrapper-text lead d-block">архитектурных проектов<span/>
          </p>
        <p class="about__wrapper-number h3">180
          <span class="about__wrapper-text lead d-block">проектов под ключ<span/>
        </p>
        <p class="about__wrapper-number h3">320
          <span class="about__wrapper-text lead d-block">интерьерных проектов<span/>
        </p>
      </div>
    </div>
  </div>
</section>
