<section
  class="augmentedBenefits min-vh-100 main-bg background-attachment-fixed d-flex flex-column justify-content-center align-items-center py-3 py-md-4 py-lg-5 text-shadow-black text-white"
>
  <div class="container">
    <h3
      class="h2 text-center"
      data-aos="fade-left"
      data-aos-once="false"
      data-aos-delay="200"
    >
      Преимущества дополненной <br />
      реальности
    </h3>
    <div class="augmentedBenefits__wrapper">
      <div
        class="augmentedBenefits__wrapper-item text-center p-3 p-md-4 p-lg-5"
        data-aos="fade-left"
        data-aos-once="false"
        data-aos-delay="400"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/aug-1.svg"
          width="64"
          height="64"
          alt="Телефон с дополненной реальностью"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="600"
        />
        <p
          class="augmentedBenefits__wrapper-title h4"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="800"
        >
          Повышение качества восприятия контента
        </p>
        <p
          class="augmentedBenefits__wrapper-description lead"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="1000"
        >
          Используйте дополненную реальность для того, чтобы удивить ваших
          клиентов и повысить уровень их лояльности. AR-меню для ресторанов,
          различные маркетинговые кампании и многое другое.
        </p>
      </div>
      <div
        class="augmentedBenefits__wrapper-item text-center p-3 p-md-4 p-lg-5"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/aug-2.svg"
          width="64"
          height="64"
          alt="Куб будущего"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="1200"
        />
        <p
          class="augmentedBenefits__wrapper-title h4"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="1400"
        >
          Возможность визуализации сложных вещей
        </p>
        <p
          class="augmentedBenefits__wrapper-description lead"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="1600"
        >
          Поможет вашим сотрудникам лучше ориентироваться в производственных
          процессах. Позволит создавать интерактивные справочники и инструкции,
          основанные на медиа контенте и технологии компьютерного зрения.
        </p>
      </div>
      <div
        class="augmentedBenefits__wrapper-item text-center p-3 p-md-4 p-lg-5"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/aug-3.svg"
          width="64"
          height="64"
          alt="Телефон будущего"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="1800"
        />
        <p
          class="augmentedBenefits__wrapper-title h4"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="2000"
        >
          Эффективность для e-commerce, продажах и других секторах
        </p>
        <p
          class="augmentedBenefits__wrapper-description lead"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="2200"
        >
          Самый простой способ запомниться вашим клиентам на выставках - оживите
          ваш стенд при помощи технологии WEB-AR, позволяющей работать с
          дополненной реальностью через интернет без установки сторонних
          приложений.
        </p>
      </div>
      <div
        class="augmentedBenefits__wrapper-item text-center p-3 p-md-4 p-lg-5"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/vr-2.svg"
          width="64"
          height="64"
          alt="Человек в виртуальном шлеме"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="2400"
        />
        <p
          class="augmentedBenefits__wrapper-title h4"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="2600"
        >
          Не выходя из дома
        </p>
        <p
          class="augmentedBenefits__wrapper-description lead"
          data-aos="fade-left"
          data-aos-once="false"
          data-aos-delay="2800"
        >
          Очутиться в дизайнерском интерьере не выходя из дома с помощью очков
          виртуальной реальности.
        </p>
      </div>
    </div>
  </div>
</section>
