<section
  class="augmentedBenefits min-vh-100 main-bg background-attachment-fixed d-flex flex-column justify-content-center align-items-center py-3 py-md-4 py-lg-5 text-shadow-black text-white"
>
  <div class="container">
    <h3 class="h2 text-center text-xl-start">
      Преимущества дополненной <br />
      реальности
    </h3>
    <div class="augmentedBenefits__wrapper">
      <div
        class="augmentedBenefits__wrapper-item text-center text-xl-start p-3 p-md-4 p-lg-5"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/aug-1.svg"
          width="64"
          height="64"
          alt="Телефон с дополненной реальностью"
        />
        <p class="augmentedBenefits__wrapper-title h4">
          Повышение качества восприятия контента
        </p>
        <p class="augmentedBenefits__wrapper-description lead">
          Используйте дополненную реальность для того, чтобы удивить ваших
          клиентов и повысить уровень их лояльности. AR-меню для ресторанов,
          различные маркетинговые кампании и многое другое.
        </p>
      </div>
      <div
        class="augmentedBenefits__wrapper-item text-center text-xl-start p-3 p-md-4 p-lg-5"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/aug-2.svg"
          width="64"
          height="64"
          alt="Куб будущего"
        />
        <p class="augmentedBenefits__wrapper-title h4">
          Возможность визуализации сложных вещей
        </p>
        <p class="augmentedBenefits__wrapper-description lead">
          Поможет вашим сотрудникам лучше ориентироваться в производственных
          процессах. Позволит создавать интерактивные справочники и инструкции,
          основанные на медиа контенте и технологии компьютерного зрения.
        </p>
      </div>
      <div
        class="augmentedBenefits__wrapper-item text-center text-xl-start p-3 p-md-4 p-lg-5"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/aug-3.svg"
          width="64"
          height="64"
          alt="Телефон будущего"
        />
        <p class="augmentedBenefits__wrapper-title h4">
          Эффективность для e-commerce, продажах и других секторах
        </p>
        <p class="augmentedBenefits__wrapper-description lead">
          Самый простой способ запомниться вашим клиентам на выставках - оживите
          ваш стенд при помощи технологии WEB-AR, позволяющей работать с
          дополненной реальностью через интернет без установки сторонних
          приложений.
        </p>
      </div>
    </div>
  </div>
</section>
