<section
  class="augmented background-attachment-fixed min-vh-100 d-flex justify-content-center align-items-center text-white text-shadow-black text-center text-xl-start py-3 py-md-4 py-lg-5"
>
  <div class="container">
    <h3 class="h2">
      Дополненная реальность<br />
      для Вашего бизнеса
    </h3>
    <p class="lead">
      Новейшая технология, позволяющая по новому<br />
      взглянуть на коммуникацию с вашими клиентами<br />
      или сотрудниками
    </p>
    <a class="btn border-0 arrow-1 text-white" href="#">Портфолио &#x261B;</a>
  </div>
</section>
