<section
  class="contact background-attachment-fixed min-vh-100 text-white py-3 py-md-4 py-xl-5 d-flex flex-column justify-content-center align-items-center text-shadow-black">
  <div class="container">
    <h4 class="h2 text-center" data-aos="flip-down" data-aos-once="false" data-aos-delay="200">Расскажите о вашем проекте</h4>
    <p class="text-center lead mb-3 mb-md-4 mb-lg-5" data-aos="flip-down" data-aos-once="false" data-aos-delay="300">
      Готовы создать уникальный проект? Давайте сделаем его вместе!
      <p />
    <form class="contact__form text-dark">
      <div class="form-floating mb-3" data-aos="flip-down" data-aos-once="false" data-aos-delay="400">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" />
        <label for="floatingInput">Ваш email</label>
      </div>
      <div class="form-floating mb-3" data-aos="flip-down" data-aos-once="false" data-aos-delay="5000">
        <input type="text" class="form-control" id="floatingText" placeholder="Text" />
        <label for="floatingText">Ваше имя</label>
      </div>
      <div class="form-floating mb-3" data-aos="flip-down" data-aos-once="false" data-aos-delay="600">
        <input type="tel" class="form-control" id="floatingNumber" placeholder="Number" />
        <label for="floatingNumber">Телефон</label>
      </div>
      <div class="form-floating" data-aos="flip-down" data-aos-once="false" data-aos-delay="700">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Сообщение</label>
      </div>
      <p class="text-white lead" data-aos="flip-down" data-aos-once="false" data-aos-delay="800">Отправляя заявку,даю согласие на обработку
        персональных данных</p>
      <button class="btn fancy-6 text-white w-100 border-1 border-white">Отправить заявку</button>
  </div>
  </form>
  </div>
</section>
