<section
  class="differences main-bg background-attachment-fixed text-shadow-black text-white min-vh-100 d-flex flex-column justify-content-center align-items-center py-3 py-md-4 py-lg-5"
>
  <div class="container">
    <h4
      class="h2 text-center text-xl-start"
      data-aos="flip-up"
      data-aos-once="false"
      data-aos-delay="400"
    >
      Отличия виртуальной <br />реальности от дополненной
    </h4>
    <div class="differences__wrapper">
      <div
        class="differences__wrapper-item p-3 p-md-4 p-lg-5 d-flex flex-column align-items-center justify-content-center"
      >
        <picture
          class="d-flex"
          data-aos="flip-up"
          data-aos-once="false"
          data-aos-delay="600"
        >
          <source
            srcset="../img/differences-item-1-removed.avif"
            type="image/avif"
          />
          <source
            srcset="../img/differences-item-1-removed.webp"
            type="image/webp"
          />
          <img
            class="img-fluid"
            src="../img/differences-item-1-removed.png"
            width="397"
            height="297"
            alt="Шлем Виртуальной Реальности"
          />
        </picture>

        <p
          class="differences__wrapper-subtitle h3"
          data-aos="flip-up"
          data-aos-once="false"
          data-aos-delay="800"
        >
          Виртуальная реальность
        </p>
        <p
          class="differences__wrapper-text lead text-center text-xl-start"
          data-aos="flip-up"
          data-aos-once="false"
          data-aos-delay="1000"
        >
          Отличается от дополненной реальности (AR) тем, что видимая
          действительность искусственна. Пользователю предлагают полное
          погружение, задействуя дополнительные органы чувств. Мы внедряем
          новейшие разработки VR — используем не только шлем, а ещё перчатки,
          костюмы и контроллеры движения.
        </p>
      </div>
      <div
        class="differences__wrapper-item p-3 p-md-4 p-lg-5 d-flex flex-column align-items-center justify-content-center"
      >
        <picture
          class="d-flex"
          data-aos="flip-up"
          data-aos-once="false"
          data-aos-delay="1200"
        >
          <source
            srcset="../img/differences-item-2-removed.avif"
            type="image/avif"
          />
          <source
            srcset="../img/differences-item-2-removed.webp"
            type="image/webp"
          />
          <img
            class="img-fluid"
            src="../img/differences-item-2-removed.png"
            width="326"
            height="378"
            alt="Дополненная реальность"
          />
        </picture>

        <p
          class="differences__wrapper-subtitle h3"
          data-aos="flip-up"
          data-aos-once="false"
          data-aos-delay="1400"
        >
          Дополненная реальность
        </p>
        <p
          class="differences__wrapper-text lead text-center text-xl-start"
          data-aos="flip-up"
          data-aos-once="false"
          data-aos-delay="1600"
        >
          Технология, с помощью которой в видимую действительность помещают
          виртуальные объекты. Представьте, что вы на презентации архитектора
          надеваете специальные очки, и на пустом столе появляется макет здания.
          Движением руки вы сможете вращать объект, приближать, отдалять или
          даже что-то в нём поменять.
        </p>
      </div>
    </div>
  </div>
</section>
