<section
  class="differences background-attachment-fixed min-vh-100 text-white text-shadow-black d-flex flex-column justify-content-center align-items-center py-3 py-md-4 py-lg-5"
>
  <div class="container">
    <div
      class="differences__top d-flex flex-column flex-xxl-row align-items-center mb-3 mb-md-4 mb-lg-5 text-center text-xxl-start"
    >
      <h2 class="differences__top-title">Комплексные решения визуализации</h2>
      <p class="differences__top-text">
        WEARE – российский разработчик программного обеспечения и
        массогабаритного оборудования, предоставляющий максимально полное
        погружение в виртуальную реальность.
      </p>
    </div>
    <div class="differences__bottom gap-3 gap-md-4 gap-lg-5">
      <div
        class="differences__bottom-card text-center py-3 py-md-4 py-lg-5 d-flex flex-column align-items-center justify-content-between"
      >
        <img
          class="img-fluid"
          src="../img/differences-item-1.png"
          width="452"
          height="319"
          alt="Человек в виртуальном шлеме"
        />
        <p class="h3">Разработка VR решений</p>
        <a href="#">Подробнее</a>
      </div>
      <div
        class="differences__bottom-card text-center py-3 py-md-4 py-lg-5 d-flex flex-column align-items-center justify-content-between"
      >
        <img
          class="img-fluid"
          src="../img/differences-item-2.png"
          width="486"
          height="344"
          alt="Телефон и атомы"
        />
        <p class="h3">
          Дополненная реальность <br />
          для Вашего бизнеса
        </p>
        <a href="#">Подробнее</a>
      </div>
    </div>
  </div>
</section>
