<ul
  id="menu"
  class="menu__list list-unstyled min-vh-100 d-flex flex-column justify-content-center align-items-center gap-2"
>
  <li class="menu__list-item">
    <a
      href="#"
      class="menu__list-link thick-6 text-white text-shadow-black text-decoration-none h3 fw-bolder"
      >О нас</a
    >
  </li>
  <li class="menu__list-item">
    <a
      href="#"
      class="menu__list-link thick-6 text-white text-shadow-black text-decoration-none h3 fw-bolder"
      >Решения</a
    >
  </li>
  <li class="menu__list-item">
    <a
      href="#"
      class="menu__list-link thick-6 text-white text-shadow-black text-decoration-none h3 fw-bolder"
      >Дополненная реальность</a
    >
  </li>
  <li class="menu__list-item">
    <a
      href="#"
      class="menu__list-link thick-6 text-white text-shadow-black text-decoration-none h3 fw-bolder"
      >Преимущества ДР</a
    >
  </li>
  <li class="menu__list-item">
    <a
      href="#"
      class="menu__list-link thick-6 text-white text-shadow-black text-decoration-none h3 fw-bolder"
      >Виртуальная реальность</a
    >
  </li>
  <li class="menu__list-item">
    <a
      href="#"
      class="menu__list-link thick-6 text-white text-shadow-black text-decoration-none h3 fw-bolder"
      >Преимущества ДР</a
    >
  </li>
  <li class="menu__list-item">
    <a
      href="#"
      class="menu__list-link thick-6 text-white text-shadow-black text-decoration-none h3 fw-bolder"
      >Различия</a
    >
  </li>
  <li class="menu__list-item">
    <a
      href="#"
      class="menu__list-link thick-6 text-white text-shadow-black text-decoration-none h3 fw-bolder"
      >Контакты</a
    >
  </li>
</ul>
