<section
  class="solutions main-bg background-attachment-fixed min-vh-100 text-white text-shadow-black d-flex flex-column justify-content-center align-items-center py-3 py-md-4 py-lg-5"
>
  <div class="container">
    <div
      class="solutions__top d-flex flex-column align-items-center mb-3 mb-md-4 mb-lg-5 text-center"
    >
      <h2
        class="solutions__top-title mb-3 mb-md-4 mb-lg-5"
        data-aos="fade-down"
        data-aos-once="false"
        data-aos-delay="200"
      >
        Комплексные решения визуализации
      </h2>
      <p
        class="solutions__top-text h3 fw-light"
        data-aos="fade-up"
        data-aos-once="false"
        data-aos-delay="400"
      >
        WEARE – российский разработчик программного обеспечения и
        массогабаритного оборудования, предоставляющий максимально полное
        погружение в виртуальную реальность.
      </p>
    </div>
    <div class="solutions__bottom gap-3 gap-md-4 gap-lg-5">
      <div
        class="solutions__bottom-card text-center p-3 p-md-4 p-lg-5 d-flex flex-column align-items-center justify-content-between"
        data-aos="fade-up"
        data-aos-once="false"
        data-aos-delay="600"
      >
        <div class="overflow-hidden">
          <picture
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="800"
          >
            <source
              srcset="../img/solutions-item-1-removed.avif"
              type="image/avif"
            />
            <source
              srcset="../img/solutions-item-1-removed.webp"
              type="image/webp"
            />
            <source srcset="../img/solutions-item-1-removed.png" />
            <img
              class="img-fluid"
              src="../img/solutions-item-1-removed.png"
              width="452"
              height="319"
              alt="Человек в виртуальном шлеме"
            />
          </picture>
        </div>

        <p
          class="h3"
          data-aos="fade-up"
          data-aos-once="false"
          data-aos-delay="900"
        >
          Разработка VR решений
        </p>
        <a
          class="btn thick-3 text-white w-100 border-1 border-white"
          href="#"
          data-aos="fade-up"
          data-aos-once="false"
          data-aos-delay="1000"
          >Подробнее</a
        >
      </div>
      <div
        class="solutions__bottom-card text-center p-3 p-md-4 p-lg-5 d-flex flex-column align-items-center justify-content-between"
        data-aos="fade-up"
        data-aos-once="false"
        data-aos-delay="2200"
      >
        <div class="overflow-hidden">
          <picture
            data-aos="fade-up"
            data-aos-once="false"
            data-aos-delay="2400"
          >
            <source
              srcset="../img/solutions-item-2-removed.avif"
              type="image/avif"
            />
            <source
              srcset="../img/solutions-item-2-removed.webp"
              type="image/webp"
            />
            <source srcset="../img/solutions-item-2-removed.png" />
            <img
              class="img-fluid"
              src="../img/solutions-item-2-removed.png"
              width="486"
              height="344"
              alt="Телефон и атомы"
            />
          </picture>
        </div>

        <p
          class="h3"
          data-aos="fade-up"
          data-aos-once="false"
          data-aos-delay="2600"
        >
          Дополненная реальность <br />
          для Вашего бизнеса
        </p>
        <a
          class="btn thick-3 text-white w-100 border-1 border-white"
          href="#"
          data-aos="fade-up"
          data-aos-once="false"
          data-aos-delay="2800"
          >Подробнее</a
        >
      </div>
    </div>
  </div>
</section>
