<section
  class="augmentedBenefits min-vh-100 main-bg background-attachment-fixed d-flex flex-column justify-content-center align-items-center py-3 py-md-4 py-lg-5 text-shadow-black text-white"
>
  <div class="container">
    <h3 class="h2 text-center text-xl-start">
      Преимущества<br />
      визуализации в VR
    </h3>
    <div class="vrBenefits__wrapper">
      <div
        class="augmentedBenefits__wrapper-item text-center text-xl-start p-3 p-md-4 p-lg-5"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/vr-1.svg"
          width="64"
          height="64"
          alt="Комната с виртуальной реальностью"
        />
        <p class="augmentedBenefits__wrapper-title h4">Детали и нюансы</p>
        <p class="augmentedBenefits__wrapper-description lead">
          Возможность увидеть все детали и нюансы спроектированного интерьера
          разглядеть местоположение электрических розеток и переключателей.
        </p>
      </div>
      <div
        class="augmentedBenefits__wrapper-item text-center text-xl-start p-3 p-md-4 p-lg-5"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/vr-2.svg"
          width="64"
          height="64"
          alt="Человек в виртуальном шлеме"
        />
        <p class="augmentedBenefits__wrapper-title h4">Не выходя из дома</p>
        <p class="augmentedBenefits__wrapper-description lead">
          Очутиться в дизайнерском интерьере не выходя из дома с помощью очков
          виртуальной реальности.
        </p>
      </div>
      <div
        class="augmentedBenefits__wrapper-item text-center text-xl-start p-3 p-md-4 p-lg-5"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/vr-3.svg"
          width="64"
          height="64"
          alt="Шлем виртуальной реальности"
        />
        <p class="augmentedBenefits__wrapper-title h4">Очки VR в подарок</p>
        <p class="augmentedBenefits__wrapper-description lead">
          Очки виртуальной реальности в подарок, при заказе дизайн проекта
        </p>
      </div>
      <div
        class="augmentedBenefits__wrapper-item text-center text-xl-start p-3 p-md-4 p-lg-5"
      >
        <img
          class="img-fluid my-2"
          src="../img/svg/vr-4.svg"
          width="64"
          height="64"
          alt="Стол с виртуальной реальности"
        />
        <p class="augmentedBenefits__wrapper-title h4">Приемлемая стоимость</p>
        <p class="augmentedBenefits__wrapper-description lead">
          Приемлемая стоимость , мы не завышаем стоимость дизайн проекта в
          виртуальной реальности, по тому, то ориентируемся на удобство
          восприятия пространства.
        </p>
        </div>
        <div
          class="augmentedBenefits__wrapper-item text-center text-xl-start p-3 p-md-4 p-lg-5"
        >
          <img
            class="img-fluid my-2"
            src="../img/svg/vr-5.svg"
            width="64"
            height="64"
            alt="Комната с виртуальной реальности"
          />
          <p class="augmentedBenefits__wrapper-title h4">Высокое качество</p>
          <p class="augmentedBenefits__wrapper-description lead">
            Достойное качество визуализации (мы используем передовое программное
            обеспечение, для получения реалистичного изображения).
          </p>
        </div>
        <div
          class="augmentedBenefits__wrapper-item text-center text-xl-start p-3 p-md-4 p-lg-5"
        >
          <img
            class="img-fluid my-2"
            src="../img/svg/vr-6.svg"
            width="64"
            height="64"
            alt="Человек смотрит в виртуальную реальность"
          />
          <p class="augmentedBenefits__wrapper-title h4">Переключения вида</p>
          <p class="augmentedBenefits__wrapper-description lead">
            Возможность перемещения в пространстве и переключения вида, а так же
            возможность увидеть вечернее освещение.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
