<section
  class="virtual-reality background-attachment-fixed min-vh-100 d-flex justify-content-center align-items-center text-white text-shadow-black text-center text-xl-start py-3 py-md-4 py-lg-5"
>
  <div class="container">
    <h3
      class="h2"
      data-aos="fade-up-right"
      data-aos-once="false"
      data-aos-delay="200"
    >
      Разработка VR решений
    </h3>
    <p
      class="lead"
      data-aos="fade-up-right"
      data-aos-once="false"
      data-aos-delay="400"
    >
      Создаём VR-симуляторы с использованием BIM<br />
      и реалистичными физическими процессами<br />
      и весогабаритными моделями.
    </p>
    <a class="btn border-0 arrow-1 text-white" href="#">Портфолио &#x261B;</a>
  </div>
</section>
