.text-shadow-black {
  text-shadow: 2px 2px 2px black;
}

/* Увеличить дефолтное шрифтов */
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 4rem;
  }
}
