.text-shadow-black {
  text-shadow: 2px 2px 2px black;
}

/* Увеличить дефолтное шрифтов */
@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 4.5rem;
  }
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 4rem;
  }
}

.background-attachment-fixed {
  background-attachment: fixed;
}

@media screen and (max-width: 1366px) {
  .background-attachment-fixed {
    background-attachment: scroll;
  }
}

.main-bg {
  background-image: url("../img/main-bg-1600.avif"),
    url("../img/main-bg-1600.webp"), url("../img/main-bg-1600.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
